.DS_store
crash.log
.idea
.vscode
cloudquery
cloudquery.db
cloudquery.zip
/config.yml
dist/
vendor/
bin/
.release-env
cq-provider-*
*.exe
*.log
.cq_reattach
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.swp

__debug_bin
#test directories
**/.test/*

infra/.terraform
infra/.terraform.lock.hcl
infra/terraform-override.tf
infra/tmp/